h2, h1, p, img, li {
  text-align: center;
  
}
img {
  width: 500px;
}

p, h2 
{
  font-family: sans-serif;
}
html{
  background-color: rgb(255, 151, 0);
}
h1 {
  color: rgb(100, 25, 0);
}
html{
  border: 5px 5px 10px black;
  margin-bottom: auto;
}
a {
  font-family: Arial;
  color:rgb(80, 25, 0);
  font-size:medium;
}
a:hover{
  color: rgb(00,70,90)
}
a:active{
  color:black
}
.tele-text{
  
}
h1{
  background-color: rgba(70, 105, 170, 0.692)
}